@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

#header,
#header_sub {
  width: 100%;
  border-bottom: 2px double #999;
}
#header .inner,
#header_sub .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1,
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
  color: #333;
}
#header .inner > h1 > a,
#header_sub .inner > h1 > a {
  font: bold 30px/1 "Antic Slab";
  color: #333;
}
#header .inner .menuWeb #gnb,
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuWeb #gnb li,
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a,
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 15px 20px;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  transition: all 0.3s;
  letter-spacing: 1px;
}
#header .inner .menuWeb #gnb li a:after,
#header_sub .inner .menuWeb #gnb li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
#header .inner .menuWeb #gnb li a:hover:after,
#header_sub .inner .menuWeb #gnb li a:hover:after {
  width: 100%;
  background: #e4d1c5;
}
#header .inner .menuWeb #util,
#header_sub .inner .menuWeb #util {
  position: absolute;
  top: 15px;
  right: 20px;
}
#header .inner .menuWeb #util li,
#header_sub .inner .menuWeb #util li {
  float: left;
  margin-left: 20px;
}
#header .inner .menuWeb #util li a,
#header_sub .inner .menuWeb #util li a {
  font: normal 18px/1 "Antic Slab";
  color: #333;
}
#header .inner .btnCall,
#header_sub .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .btnCall::before,
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after,
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span,
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: all 0.3s;
}
#header .inner .btnCall.on::before,
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after,
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span,
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo,
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: -270px;
  display: none;
}
#header .inner .menuMo.on,
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1,
#header_sub .inner .menuMo h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a,
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "Antic Slab";
  color: #333;
  text-align: center;
}
#header .inner .menuMo h1 span,
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #999;
}
#header .inner .menuMo #gnbMo li a,
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  text-align: center;
  border-bottom: 1px solid #999;
}

#header_sub {
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
}

#visual {
  width: 100%;
  position: relative;
}
#visual .swiper {
  width: 100%;
  height: 100%;
}
#visual .swiper .swiper-slide {
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#visual .swiper .swiper-slide::after {
  display: block;
  content: "";
  clear: both;
}
#visual .swiper .swiper-slide .inner {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
#visual .swiper .swiper-slide .inner .text {
  width: 50%;
  margin: 0 auto;
  padding: 200px 50px;
  float: left;
  text-align: center;
}
#visual .swiper .swiper-slide .inner .text h2 {
  font: normal 20px/1.5 "Antic Slab";
}
#visual .swiper .swiper-slide .inner .text h1 {
  font: bold 50px/1.5 "Caveat";
}
#visual .swiper .swiper-slide .inner .image {
  width: 50%;
  margin: 0 auto;
  padding: 0px;
  float: left;
}
#visual .swiper .swiper-slide .inner .image img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}
#visual .swiper .swiper-slide .inner .image p {
  font: normal 20px/2 "arial";
}

#features {
  width: 100%;
}
#features .wrapper {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 0px;
  border-bottom: 1px solid #aaa;
}
#features .wrapper .box {
  float: left;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background-image: #f5f5f5;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  border-right: 1px solid #aaa;
}
#features .wrapper .box:last-of-type {
  border-right: 0;
}
#features .wrapper .box h2 {
  font: bold 20px/1.5 "Antic Slab";
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#features .wrapper .box p {
  font: normal 15px/1.5 "arial";
  letter-spacing: 1px;
}

#products {
  width: 100%;
  position: relative;
}
#products h1 {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font: bold 45px/1.5 "Caveat";
  letter-spacing: 1px;
}
#products article {
  width: 22%;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}
#products article > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#products article > div:hover img {
  filter: blur(2px);
  transform: sale(1.1);
}
#products article > div:hover div h2,
#products article > div:hover div p {
  opacity: 1;
  transform: translateY(0%);
}
#products article > div div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  padding: 0px 30px;
}
#products article > div div img {
  width: 100%;
  height: 100%;
  transition: linear 0.3s;
}
#products article > div div h2 {
  font: bold 22px/1 "arial";
  color: #fff;
  letter-spacing: 1px;
  margin: 15px 0px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-100%);
}
#products article > div div p {
  font: 12px/1.2 "arial";
  color: black;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

/*# sourceMappingURL=style.css.map */
