@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Bad+Script&family=Julius+Sans+One&display=swap");
@keyframes slide {
  from {
    left: -180px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.gallery {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.gallery .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.gallery .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.gallery .inner::after {
  display: block;
  content: "";
  clear: both;
}
.gallery .inner #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.gallery .inner #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.gallery .inner #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.gallery .inner #searchBox {
  width: 30%;
  height: 30px;
  font-size: 0;
  margin: 0 auto;
}
.gallery .inner #searchBox input[type=text] {
  width: 200px;
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.gallery .inner #searchBox .btnSearch {
  width: 80px;
  height: 30px;
  background: #333;
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: top;
}
.gallery .inner #wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;
  text-align: center;
}
.gallery .inner #wrap .loading {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.gallery .inner #wrap .loading.off {
  opacity: 0;
}
.gallery .inner #wrap #list {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .inner #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .inner #wrap #list li {
  width: 25%;
  height: 400px;
  float: left;
  padding: 10px;
}
.gallery .inner #wrap #list li div {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(90deg, #f5efeb, #e4d1c5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.gallery .inner #wrap #list li div:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  overflow: hidden;
}
.gallery .inner #wrap #list li div a img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  color: black;
}
.gallery .inner #wrap #list li div p {
  font: 12px/1 "arial";
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery .inner #wrap #list li div span {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: black;
}
.gallery .inner #wrap #list li div span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.gallery .inner #wrap #list li div span strong {
  font: 11px/1 "arial";
  color: black;
  margin: 0 auto;
}
.gallery .inner #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .inner aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .inner aside img {
  height: 100%;
}
.gallery .inner aside span {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
}

@media screen and (max-width: 1399px) {
  #wrap #list li {
    width: 25%;
  }
}
@media screen and (max-width: 999px) {
  #wrap #list li {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 749px) {
  #wrap #list li {
    width: 50%;
  }
}
@media screen and (max-width: 439px) {
  #wrap #list li {
    width: 100%;
  }
}
.board {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.board .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.board .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.board .inner {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.board .inner::after {
  display: block;
  content: "";
  clear: both;
}
.board .inner #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
  margin-bottom: 200px;
}
.board .inner #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.board .inner #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.board .inner #tab {
  width: 100%;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}
.board .inner #tab dt {
  width: 33.3333333333%;
  height: 40px;
  position: absolute;
  top: 0;
}
.board .inner #tab dt:nth-of-type(1) {
  left: 0%;
}
.board .inner #tab dt:nth-of-type(2) {
  left: 33.3333333333%;
}
.board .inner #tab dt:nth-of-type(3) {
  left: 66.6666666667%;
}
.board .inner #tab dt a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  font: bold 18px/40px "Julius Sans One";
  color: #111;
  text-align: center;
}
.board .inner #tab dt.active a {
  background-color: #d1b7a1;
  color: black;
}
.board .inner #tab dd {
  width: 100%;
  background: #fff;
  text-align: center;
  display: none;
}
.board .inner #tab dd.active {
  display: block;
}
.board .inner table {
  width: 100%;
  border-bottom: 1px solid #111;
  border-collapse: collapse;
  margin: 0 auto;
}
.board .inner table tr:nth-of-type(even) {
  background: #eee;
}
.board .inner table tr:hover {
  background: #bdb6b2;
}
.board .inner table tr th {
  background-color: #d1b7a1;
  font: bold 15px "Julius Sans One";
  color: black;
  padding: 15px;
}
.board .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.board .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.board .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.board .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.board .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.board .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.board .inner table tr td a {
  color: #333;
  font-family: "arial";
  line-height: 1.4;
}
.board .inner .pagination {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}
.board .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.board .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #d1b7a1;
}
.board .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #d1b7a1;
}
.board .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.board .inner .pagination .numbers a {
  border-right: 1px solid #555;
  display: inline-block;
  width: 35px;
  height: 30px;
  font: bold 15px/30px "arial";
  color: #111;
  margin: 0 auto;
  transition: 0.5s;
}
.board .inner .pagination .numbers a:last-child {
  border-right: none;
}

/* Responsive Tablet Version */
@media screen and (max-width: 1179px) {
  .board .inner #tab table tr th:nth-of-type(1) {
    width: 14%;
  }
  .board .inner #tab table tr th:nth-of-type(3) {
    width: 17%;
  }
  .board .inner #tab table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .board .inner #tab table tr td:nth-of-type(4) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(n + 6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
/* Responsive Mobile Version */
@media screen and (max-width: 539px) {
  .board .inner #tab table tr th {
    font-size: 13px;
  }
  .board .inner #tab table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .board .inner #tab table tr th:nth-of-type(3) {
    width: 29%;
  }
  .board .inner #tab table tr td:nth-of-type(1) {
    display: none;
  }
  .board .inner .pagination .numbers {
    display: none;
  }
}
.w-btn-gra-anim {
  background-size: 400% 400%;
  animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.members {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.members .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.members .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.members .intro {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
.members .intro::after {
  display: block;
  content: "";
  clear: both;
}
.members .intro #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.members .intro #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.members .intro #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.members .intro .about {
  width: 1180px;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}
.members .intro .about .wrapper {
  width: 93%;
  height: auto;
  padding-left: 4%;
  padding-top: 5%;
  text-align: center;
  position: relative;
}
.members .intro .about .wrapper video {
  width: 100%;
  height: 100%;
  padding: 60px 10px;
  position: absolute;
  top: 5%;
  left: 4%;
  object-fit: cover;
  opacity: 0.4;
  z-index: -99;
}
.members .intro .about .wrapper span {
  display: block;
  font: bold 33px/1.7 "Bad Script";
  color: #000;
  letter-spacing: 3px;
  margin-top: 30px;
  padding: 10px;
}
.members .intro .about .wrapper span::after {
  display: block;
  content: "";
  width: 80%;
  height: 3px;
  background-color: #aaa;
  margin: 0 auto;
}
.members .intro .about .wrapper p {
  font: normal 18px/1.7 "arial";
  color: #000;
  margin: 20px 0px;
  padding: 30px;
  margin-bottom: 50px;
}
.members .people {
  width: 100%;
  position: relative;
}
.members .people #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.members .people #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.members .people #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.members .people .memberInfo {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  padding: 50px;
}
.members .people .memberInfo .profile-wrapper {
  width: 23%;
  border-radius: 50%;
  margin: 1%;
  float: left;
  position: relative;
  text-align: center;
  z-index: 99;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.members .people .memberInfo .profile-wrapper:hover {
  transform: rotateY(180deg);
}
.members .people .memberInfo .profile-wrapper:hover .profile-back {
  display: block;
}
.members .people .memberInfo .profile-wrapper .profile-front {
  width: 100%;
  height: 220px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #f1e6e0, #e4d1c5);
  box-shadow: 5px 10px 10px rgba(221, 168, 115, 0.1);
}
.members .people .memberInfo .profile-wrapper .profile-front img {
  width: 100%;
  height: 220px;
  border-radius: 50%;
  object-fit: contain;
}
.members .people .memberInfo .profile-wrapper .profile-back {
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  height: 220px;
  border-radius: 50%;
  color: #111;
  background-image: linear-gradient(90deg, #f1e6e0, #e4d1c5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transform: rotateY(180deg);
}
.members .people .memberInfo .profile-wrapper .profile-back h2 {
  margin-top: 30px;
  font: bold 28px/2 "Antic Slab";
}
.members .people .memberInfo .profile-wrapper .profile-back h3 {
  font: normal 18px/2 "arial";
}
.members .people .memberInfo .profile-wrapper .profile-back span {
  font: normal 18px/1.5 "arial";
  color: #111;
}
.members .people .memberInfo .profile-wrapper:nth-of-type(6) {
  margin-bottom: 100px;
}

/* Responsive Tablet Verision*/
@media screen and (max-width: 1179px) {
  .members .intro {
    width: 100%;
  }
  .members .intro .about .wrapper {
    width: 88vw;
  }
  .members .intro .people {
    width: 100%;
  }
  .members .intro .people .memberInfo {
    width: 100%;
  }
  .members .intro .people .memberInfo .profile-wrapper {
    width: 31%;
  }
}
@media screen and (max-width: 539px) {
  .members .intro .people {
    width: 100%;
  }
  .members .intro .people .memberInfo {
    width: 100%;
  }
  .members .intro .people .memberInfo .profile-wrapper {
    width: 48%;
  }
}
.youtube {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.youtube .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.youtube .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .inner {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.youtube .inner::after {
  display: block;
  content: "";
  clear: both;
}
.youtube .inner #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.youtube .inner #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.youtube .inner #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.youtube .inner .vidList {
  width: 100%;
  margin-top: 200px;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.youtube .inner .vidList article {
  width: 48%;
  height: 100%;
  border: 1px solid #927c62;
  border-radius: 2rem;
  margin-bottom: 50px;
}
.youtube .inner .vidList article .pic {
  position: relative;
  display: block;
  width: 100%;
  height: 60%;
}
.youtube .inner .vidList article .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0rem 0rem;
}
.youtube .inner .vidList article .pic > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #923131;
  opacity: 0.8;
  z-index: 5;
}
.youtube .inner .vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
  text-align: center;
}
.youtube .inner .vidList article .con h2 {
  font: bold 20px/1.2 "Antic Slab";
  color: #444;
  margin-bottom: 15px;
}
.youtube .inner .vidList article .con p {
  font: 15px/1.5 "arial";
  color: #666;
  margin-bottom: 20px;
}
.youtube .inner .vidList article .con span {
  font: bold 15px/1 "arial";
  color: #917035;
}
.youtube .inner figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.youtube .inner figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

/* Responsive Tablet Verision*/
@media screen and (max-width: 1179px) {
  .youtube {
    width: 100%;
  }
  .youtube .inner {
    width: 100%;
  }
  .youtube .inner .vidList {
    width: 100%;
  }
  .youtube .inner .vidList article {
    width: 80%;
    height: 400px;
    margin: 20px auto;
  }
}
/* Responsive Mobile Verision*/
@media screen and (max-width: 539px) {
  .youtube .inner .vidList article {
    height: 300px;
    margin: 10px auto;
  }
  .youtube .inner .vidList article:last-of-type {
    margin-bottom: 50px;
  }
  .youtube .inner .vidList article p {
    display: none;
  }
}
.location {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.location .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.location .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location .inner {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.location .inner::after {
  display: block;
  content: "";
  clear: both;
}
.location .inner #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.location .inner #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 2.5%;
  left: 2%;
}
.location .inner #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.location .inner #map {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  border: 1px solid #000;
  margin-bottom: 30px;
}
.location .inner::after {
  content: "";
  display: block;
  clear: both;
}
.location .inner .traffic {
  float: left;
}
.location .inner .traffic li {
  float: left;
  margin-right: 20px;
}
.location .inner .traffic li a {
  display: block;
  width: 150px;
  height: 40px;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  font: bold 12px/40px "맑은 고딕";
  color: #111;
  text-align: center;
  border: 1px solid #555;
}
.location .inner .traffic li.on a {
  background-image: linear-gradient(90deg, #cead98, #c08561);
  color: #111;
}
.location .inner .branch {
  float: right;
  margin-bottom: 50px;
}
.location .inner .branch li {
  float: left;
  margin-left: 10px;
}
.location .inner .branch li a {
  display: block;
  width: 150px;
  height: 40px;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  font: bold 12px/40px "맑은 고딕";
  color: #111;
  text-align: center;
  border: 1px solid #555;
}
.location .inner .branch li.on a {
  background-image: linear-gradient(90deg, #cead98, #c08561);
  color: #111;
}

/* Responsive Tablet Version */
@media screen and (max-width: 1179px) {
  .location {
    width: 100%;
  }
  .location .inner {
    width: 100%;
  }
  .location .inner #map {
    width: 100%;
    clear: both;
  }
  .location .inner .traffic {
    margin: 3%;
    clear: both;
  }
  .location .inner .traffic li {
    clear: both;
    display: block;
    margin: 3%;
  }
  .location .inner .branch {
    margin: 3%;
  }
  .location .inner .branch li {
    clear: both;
    display: block;
    margin: 3%;
  }
}
.join {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.join .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.join .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join .inner {
  padding: 50px 0px 0px 0px;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.join .inner::after {
  display: block;
  content: "";
  clear: both;
}
.join .inner #title {
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
}
.join .inner #title .bar {
  width: 5px;
  height: 200px;
  background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
  position: absolute;
  top: 30px;
  left: 0;
}
.join .inner #title h1 {
  font: bold 40px/1 "Julius Sans One";
  color: black;
}
.join .inner h2 {
  font: bold 20px/1 "Julius Sans One";
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
.join .inner #terms {
  width: 100%;
  height: 150px;
  padding: 20px;
  resize: none;
  font: 14px/1.3 "arial";
  color: #333;
  background: #ebe5e2;
  margin-bottom: 10px;
}
.join .inner .agreement {
  text-align: center;
  margin-bottom: 70px;
}
.join .inner .agreement label[for=agree] {
  font-size: 15px;
}
.join .inner fieldset {
  padding: 30px;
  margin-bottom: 50px;
  border: none;
}
.join .inner table {
  width: 100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.join .inner table th {
  width: 22%;
  text-align: left;
  font: bold 14px/1 "Julius Sans One";
  color: #333;
  padding: 20px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #ebe3df;
}
.join .inner table th:last-child {
  background: #fff;
  text-align: center;
  border-right: none;
  border-bottom: none;
}
.join .inner table th input[type=submit],
.join .inner table th input[type=reset] {
  width: 180px;
  height: 40px;
  border: none;
  background: #ebded6;
  font: normal 14px/1 "arial";
  color: #000;
  margin: 0 10px;
}
.join .inner table td {
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
  width: 30%;
  height: 30px;
  border: 1px solid #a8a7a7;
  background: #f4f7f7;
  padding-left: 20px;
}
.join .inner table td input[type=checkbox],
.join .inner table td input[type=radio] {
  margin-right: 5px;
}
.join .inner table td label {
  margin-right: 30px;
}
.join .inner table td textarea#comments {
  width: 80%;
  height: 100px;
  border: 1px solid #bbb;
  background: #f4f7f7;
  resize: none;
  padding: 20px;
}
.join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: #f71f43;
  margin-top: 10px;
  display: none;
}
.join .inner p {
  font: 12px/1 "arial";
  color: #f71f43;
  margin-top: 10px;
}

/* ----- Responsive Settings ----- */
@media screen and (max-width: 1179px) {
  .join .inner table th {
    display: none;
  }
  .join .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
    width: 50%;
  }
  .join .inner table td textarea#comments {
    width: 90%;
  }
  .join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
    display: block;
  }
}
@media screen and (max-width: 539px) {
  .join .inner table th {
    font-size: 0;
  }
  .join .inner table th input[type=submit],
.join .inner table th input[type=reset] {
    width: 40%;
    margin: 0 5%;
  }
  .join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
    width: 100%;
  }
  .join .inner table td label {
    display: block;
    margin-right: 0px;
  }
  .join .inner table td textarea#comments {
    width: 100%;
  }
  .join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
    display: block;
  }
}
.login {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
}
.login .inner form {
  position: relative;
  width: 400px;
  min-height: 500px;
  box-sizing: border-box;
  border: 1px double #111;
  height: auto;
  border-radius: 5px;
  margin: 5% auto;
  box-shadow: 0 9px 50px rgba(235, 204, 189, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #f3e9d6 50%, #ebded6 50%);
}
.login .inner form .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
}
.login .inner form .con header {
  margin: 7% auto 10% auto;
  text-align: center;
}
.login .inner form .con header h2 {
  font: bold 250% "Julius Sans One";
  color: #3e403f;
}
.login .inner form .con header p {
  margin-top: 10px;
  font: normal 16px/1.5 "Julius Sans One";
}
.login .inner form .con input[class=form-input] {
  width: 230px;
  height: 50px;
  margin: 3% auto;
  padding: 15px;
  font: normal 15px/1 "Julius Sans One";
  color: #585c64;
  outline: none;
  border: none;
  border-radius: 5px;
}
.login .inner form .con .log-in {
  width: 50%;
  height: 50px;
  margin: 10% 20%;
  padding: 5px;
  text-align: center;
  font: bold 20px/1 "Antic Slab";
}
.login .inner form .con .log-in:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
}

#header,
#header_sub {
  width: 100%;
  border-bottom: 1px double #999;
}
#header .inner,
#header_sub .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1,
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
  color: #333;
  animation: slide 1.5s ease-in-out;
}
#header .inner > h1 > a,
#header_sub .inner > h1 > a {
  font: bold 30px/1 "Antic Slab";
  color: #333;
}
#header .inner .menuWeb #gnb,
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuWeb #gnb li,
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a,
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 15px 20px;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  transition: all 0.3s;
  letter-spacing: 1px;
}
#header .inner .menuWeb #gnb li a:after,
#header_sub .inner .menuWeb #gnb li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
#header .inner .menuWeb #gnb li a:hover:after,
#header_sub .inner .menuWeb #gnb li a:hover:after {
  width: 100%;
  background: #e4d1c5;
}
#header .inner .menuWeb #util,
#header_sub .inner .menuWeb #util {
  position: absolute;
  top: 15px;
  right: 20px;
}
#header .inner .menuWeb #util li,
#header_sub .inner .menuWeb #util li {
  float: left;
  margin-left: 20px;
}
#header .inner .menuWeb #util li a,
#header_sub .inner .menuWeb #util li a {
  font: normal 18px/1 "Antic Slab";
  color: #333;
}
#header .inner .menuWeb #util li a:hover,
#header_sub .inner .menuWeb #util li a:hover {
  color: #daa17e;
}
#header .inner .btnCall,
#header_sub .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .btnCall::before,
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after,
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span,
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: all 0.3s;
}
#header .inner .btnCall.on::before,
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after,
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span,
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo,
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: -270px;
  display: none;
}
#header .inner .menuMo.on,
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1,
#header_sub .inner .menuMo h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a,
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "Antic Slab";
  color: #333;
  text-align: center;
}
#header .inner .menuMo h1 span,
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #999;
}
#header .inner .menuMo #gnbMo li a,
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  text-align: center;
  border-bottom: 1px solid #999;
}

#visual {
  width: 100%;
  height: calc(100vh - 200px);
  position: relative;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
}
#visual #slideShow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#visual #slideShow #slides {
  width: 100%;
  height: 100%;
  float: left;
}
#visual #slideShow #slides::after {
  display: block;
  content: "";
  clear: both;
}
#visual #slideShow #slides .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
#visual #slideShow #slides .inner .text {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  transform: translateY(20%);
  float: left;
  text-align: center;
}
#visual #slideShow #slides .inner .text h2 {
  font: normal 20px/1.5 "Antic Slab";
}
#visual #slideShow #slides .inner .text h1 {
  font: bold 50px/1.5 "Bad Script";
}
#visual #slideShow #slides .inner .text p {
  margin-top: 10px;
  font: normal 18px/1.8 "arial";
}
#visual #slideShow #slides .inner .image {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  float: left;
}
#visual #slideShow #slides .inner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual #slideShow #slide-prev {
  position: absolute;
  top: 90%;
  left: 46%;
  border: 1px solid #111;
  border-radius: 50%;
  padding: 3px;
  background-color: #fff;
}
#visual #slideShow #slide-prev:hover {
  background-color: #111;
  color: #fff;
}
#visual #slideShow #slide-next {
  position: absolute;
  top: 90%;
  left: 54%;
  border: 1px solid #111;
  border-radius: 50%;
  padding: 3px;
  background-color: #fff;
}
#visual #slideShow #slide-next:hover {
  background-color: #111;
  color: #fff;
}

#features {
  width: 100%;
  height: auto;
}
#features .wrapper {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  border-bottom: 1px solid #aaa;
}
#features .wrapper .box {
  float: left;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  border-right: 1px solid #aaa;
}
#features .wrapper .box:first-of-type {
  border-left: 1px solid #aaa;
}
#features .wrapper .box:nth-of-type(1):hover {
  background-color: #e9e1d4;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(2):hover {
  background-color: #f5ddad;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(3):hover {
  background-color: #f1bcae;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(4):hover {
  background-color: #c9decf;
  transition: all 0.5s ease;
}
#features .wrapper .box h2 {
  font: bold 22px/1.5 "Bad Script";
  margin-top: 10px;
  margin-bottom: 10px;
}
#features .wrapper .box p {
  font: normal 15px/1.5 "arial";
  letter-spacing: 1px;
}

#products {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding-top: 50px;
  position: relative;
  clear: both;
}
#products h1 {
  margin: 0 auto;
  text-align: center;
  font: bold 45px/1.5 "Bad Script";
  letter-spacing: 2px;
}
#products .container {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#products .container .prodMenu {
  text-align: center;
  margin-top: 10px;
}
#products .container .prodMenu ul li {
  font: bold 20px/1 "Julius Sans One";
  display: inline-block;
  margin: 15px;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
#products .container .prodMenu ul li:hover {
  background: #e9c9b5;
  color: black;
}
#products .container .prodList {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#products .container .prodList article {
  width: 22%;
  float: left;
  margin: 1rem;
  text-align: center;
  padding: 0;
}
#products .container .prodList article > div {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
#products .container .prodList article > div:hover > img {
  filter: blur(2px);
}
#products .container .prodList article > div:hover .info {
  margin-top: 60%;
  transition: all 0.7s;
}
#products .container .prodList article > div .info {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 120%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#products .container .prodList article > div .info h2 {
  font: bold 25px/1 "Julius Sans One";
  color: #fff;
  letter-spacing: 1px;
  margin: 10px 0px;
  margin-bottom: 10px;
}
#products .container .prodList article > div .info p {
  font: 14px/1.2 "arial";
  color: #fff;
  margin-bottom: 10px;
}
#products .container .prodList article > div .info a {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 2rem;
  padding: 5px;
  margin: 0 auto;
  font: bold 16px/1.2 "Julius Sans One";
  color: #000;
  background-color: #dac4b6;
}

#banner {
  width: 100%;
  height: 35vh;
  margin-top: 50px;
  position: relative;
}
#banner .wrapper {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/main/bg.png);
  background-color: #ddd7d4;
  background-blend-mode: multiply;
  overflow: hidden;
}
#banner .wrapper:hover .left {
  transform: translateX(30px);
  transition: all 1.7s;
}
#banner .wrapper:hover .center {
  transform: scale(1.1);
  transition: all 0.5s;
}
#banner .wrapper:hover .right {
  transform: translateX(-30px);
  transition: all 1.7s;
}
#banner .wrapper .left {
  width: 25%;
  height: 100%;
  float: right;
  margin: 0 auto;
}
#banner .wrapper .left img {
  width: 100%;
  height: 100%;
}
#banner .wrapper .center {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 70px;
  float: right;
}
#banner .wrapper .center p {
  font: normal 20px/1.5 "Antic Slab";
  color: black;
  margin-bottom: 10px;
}
#banner .wrapper .center h3 {
  font: bold 35px/1.5 "Antic Slab";
  color: black;
  margin-bottom: 10px;
}
#banner .wrapper .center a {
  display: block;
  width: 200px;
  height: auto;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font: bold 18px/1 "Julius Sans One";
  color: #fff;
  border: 1px solid #999;
  background-color: #111;
}
#banner .wrapper .right {
  width: 25%;
  height: 100%;
  float: right;
  margin: 0 auto;
}
#banner .wrapper .right img {
  width: 100%;
  height: 100%;
}

#celebrity {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 50px 0px;
  position: relative;
  background-color: #f1f1e0;
}
#celebrity .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 1.66%;
}
#celebrity .inner::after {
  display: block;
  content: "";
  clear: both;
}
#celebrity .inner article {
  width: 30%;
  height: 100%;
  margin: 0.8333333%;
  padding: 0.833333%;
  float: left;
  text-align: center;
  border-right: 1px solid #aaa;
}
#celebrity .inner article:last-of-type {
  border-right: none;
}
#celebrity .inner article .text {
  width: 100%;
  margin: 0 auto;
}
#celebrity .inner article .text h2 {
  font: bold 30px/1.5 "Bad Script";
  text-align: center;
  margin-bottom: 15px;
}
#celebrity .inner article .text p {
  font: normal 15px/1.5 "arial";
  margin-bottom: 15px;
}
#celebrity .inner article .image {
  margin: 0 auto;
  position: relative;
}
#celebrity .inner article .image img {
  width: 75%;
  height: 75%;
  border-radius: 1rem;
  opacity: 1;
}
#celebrity .inner article .image:hover {
  width: 100%;
  height: 100%;
  transition: all 0.7s;
  overflow: hidden;
  opacity: 0.9;
}
#celebrity .inner article .image:hover a {
  display: block;
  overflow: hidden;
  border-radius: 1rem;
  width: 50%;
  height: auto;
  margin: 0 auto;
  background-color: #111;
  font: bold 20px/1 "Julius Sans One";
  color: #ffff;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 25%;
  animation: shake 0.5s ease-in-out;
}
#celebrity .inner article .image a {
  display: none;
}

#footer,
#footer_sub {
  width: 100%;
  height: auto;
  border-top: 1px double #999;
  padding: 50px 0;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
}
#footer .inner,
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
#footer .inner::after,
#footer_sub .inner::after {
  content: "";
  clear: both;
}
#footer .inner ul,
#footer_sub .inner ul {
  float: left;
  width: 23%;
  margin: 0px 10px;
  padding-bottom: 20px;
}
#footer .inner ul h4,
#footer_sub .inner ul h4 {
  font: bold 30px/2 "Bad Script";
}
#footer .inner ul li,
#footer_sub .inner ul li {
  font: normal 15px/1.8 "arial";
  color: #555;
  cursor: pointer;
}
#footer .inner ul li:hover,
#footer_sub .inner ul li:hover {
  color: #000;
}
#footer .inner ul:nth-of-type(1) li,
#footer_sub .inner ul:nth-of-type(1) li {
  cursor: default;
}
#footer .inner ul:nth-of-type(1) li:hover,
#footer_sub .inner ul:nth-of-type(1) li:hover {
  color: #555;
}
#footer p,
#footer_sub p {
  clear: both;
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #aaa;
}

/* Responsive Tablet Verision*/
@media screen and (max-width: 1179px) {
  #header .inner,
#header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner > h1,
#header_sub .inner > h1 {
    left: 20px;
  }
  #header .inner .menuWeb,
#header_sub .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall,
#header_sub .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo,
#header_sub .inner .menuMo {
    display: block;
  }

  #visual #slideShow #slides .inner {
    width: 100%;
  }
  #visual #slideShow #slides .inner .text h2 {
    font: normal 20px/1.5 "Antic Slab";
  }
  #visual #slideShow #slides .inner .text h1 {
    font: bold 40px/1.5 "Bad Script";
  }
  #visual #slideShow #slides .inner .text p {
    margin-top: 10px;
    font: normal 15px/1.8 "arial";
  }

  #features .wrapper {
    width: 100%;
  }
  #features .wrapper .box {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #aaa;
  }

  #products .container {
    width: 100%;
  }
  #products .container .prodList {
    width: 100%;
    margin: 0 auto;
  }
  #products .container .prodList article {
    width: 45%;
  }

  #banner .wrapper {
    width: 100%;
  }
  #banner .wrapper .left {
    width: 30%;
  }
  #banner .wrapper .left img {
    object-fit: cover;
  }
  #banner .wrapper .center {
    width: 40%;
    padding: 5%;
  }
  #banner .wrapper .center p {
    font: normal 15px/1.5 "Antic Slab";
  }
  #banner .wrapper .center h3 {
    font: bold 25px/1.5 "Antic Slab";
  }
  #banner .wrapper .center a {
    width: 150px;
    font: bold 15px/1 "Antic Slab";
  }
  #banner .wrapper .right {
    width: 30%;
  }
  #banner .wrapper .right img {
    object-fit: cover;
  }

  #celebrity .inner {
    width: 100%;
  }
  #celebrity .inner article {
    width: 30%;
  }

  #footer,
#footer_sub {
    width: 100%;
  }
  #footer .inner,
#footer_sub .inner {
    width: 100%;
  }
  #footer .inner ul:nth-of-type(1),
#footer_sub .inner ul:nth-of-type(1) {
    display: block;
    width: 100%;
  }
  #footer .inner ul:nth-of-type(1) li,
#footer_sub .inner ul:nth-of-type(1) li {
    width: 100%;
  }
  #footer .inner ul:nth-of-type(2),
#footer .inner :nth-of-type(3),
#footer .inner :nth-of-type(4),
#footer_sub .inner ul:nth-of-type(2),
#footer_sub .inner :nth-of-type(3),
#footer_sub .inner :nth-of-type(4) {
    float: left;
    width: 29%;
  }
  #footer .inner ul:nth-of-type(2) li,
#footer .inner :nth-of-type(3) li,
#footer .inner :nth-of-type(4) li,
#footer_sub .inner ul:nth-of-type(2) li,
#footer_sub .inner :nth-of-type(3) li,
#footer_sub .inner :nth-of-type(4) li {
    width: 100%;
  }
}
/* Responsive Mobile Verision*/
@media screen and (max-width: 539px) {
  #visual #slideShow #slides .inner .text {
    transform: translateY(15%);
  }
  #visual #slideShow #slides .inner .text h2 {
    font: normal 18px/1.5 "Antic Slab";
  }
  #visual #slideShow #slides .inner .text h1 {
    font: bold 35px/1.5 "Bad Script";
  }
  #visual #slideShow #slides .inner .text p {
    margin-top: 10px;
    font: normal 14px/1.8 "arial";
  }

  #features .wrapper {
    width: 100%;
  }
  #features .wrapper .box {
    width: 100%;
  }

  #products .container {
    width: 100%;
  }
  #products .container .prodList {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #products .container .prodList article {
    width: 90%;
  }
  #products .container .prodList article > div {
    width: 90%;
    margin: 0 auto;
  }
  #products .container .prodList article > div img {
    width: 90%;
  }
  #products .container .prodList article > div div {
    width: 90%;
    margin: 0 auto;
  }

  #banner .wrapper .left {
    display: none;
  }
  #banner .wrapper .center {
    width: 100%;
    padding-top: 17%;
    margin: 0 auto;
  }
  #banner .wrapper .right {
    display: none;
  }

  #celebrity .inner article {
    clear: both;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #aaa;
    border-right: none;
  }
  #celebrity .inner article:last-of-type {
    border-bottom: none;
  }
  #celebrity .inner article .image img {
    width: 55%;
    height: 55%;
  }

  #footer .inner ul h4,
#footer_sub .inner ul h4 {
    font: bold 25px/2 "Bad Script";
  }
  #footer .inner ul li,
#footer_sub .inner ul li {
    font: normal 15px/1.8 "arial";
  }
}

/*# sourceMappingURL=style.css.map */
