@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Caveat&display=swap&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Architects+Daughter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.gallery {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.gallery .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.gallery .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner {
  margin: 0 auto;
  padding: 100px 50px;
  width: 1200px;
  height: 100%;
  text-align: center;
  position: relative;
}
.gallery .inner h1 {
  font: normal 50px/1 "arial";
  color: black;
  margin-bottom: 50px;
}
.gallery .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.gallery .inner #searchBox {
  width: 100%;
  padding: 50px;
  overflow: hidden;
  font-size: 0;
}
.gallery .inner #searchBox input[type=text] {
  width: 200px;
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.gallery .inner #searchBox .btnSearch {
  width: 80px;
  height: 30px;
  background: #333;
  font: bold 12px/30px "arial";
  text-align: center;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: top;
}
.gallery .inner #wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;
}
.gallery .inner #wrap .loading {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.gallery .inner #wrap .loading.off {
  opacity: 0;
}
.gallery .inner #wrap #list {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .inner #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .inner #wrap #list li {
  width: 20%;
  float: left;
  padding: 10px;
}
.gallery .inner #wrap #list li div {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.gallery .inner #wrap #list li div a img {
  width: 100%;
}
.gallery .inner #wrap #list li div p {
  font: 12px/1.2 "arial";
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery .inner #wrap #list li div span {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.gallery .inner #wrap #list li div span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.gallery .inner #wrap #list li div span strong {
  font: 11px/1 "arial";
  color: orange;
}
.gallery .inner #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .inner aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .inner aside img {
  height: 100%;
}
.gallery .inner aside span {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
}

@media screen and (max-width: 1399px) {
  #wrap #list li {
    width: 25%;
  }
}
@media screen and (max-width: 999px) {
  #wrap #list li {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 749px) {
  #wrap #list li {
    width: 50%;
  }
}
@media screen and (max-width: 439px) {
  #wrap #list li {
    width: 100%;
  }
}
.board {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.board .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.board .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.board .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 50px;
}
.board .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
.board .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.board .inner table {
  width: 100%;
  border-bottom: 2px solid #111;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.board .inner table tr:nth-of-type(even) {
  background: #eee;
}
.board .inner table tr:hover {
  background: #e5d8d0;
}
.board .inner table tr th {
  padding: 15px;
  background: #444;
  color: #fff;
}
.board .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.board .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.board .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.board .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.board .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.board .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.board .inner table tr td a {
  color: #333;
  font-family: "arial";
  line-height: 1.4;
}
.board .inner .pagination {
  width: 100%;
  text-align: center;
}
.board .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.board .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
}
.board .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
}
.board .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.board .inner .pagination .numbers a {
  border: 1px solid #888;
  display: inline-block;
  width: 30px;
  height: 30px;
  font: 11px/30px "arial";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.board .inner .pagination .numbers a:hover {
  background: #e5d8d0;
  color: #111;
}

/* ---- Responsive ----- */
@media screen and (max-width: 1179px) {
  .board .inner table tr th:nth-of-type(1) {
    width: 14%;
  }
  .board .inner table tr th:nth-of-type(3) {
    width: 17%;
  }
  .board .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .board .inner table tr td:nth-of-type(4) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(n + 6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .board .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .board .inner table tr th {
    font-size: 14px;
  }
  .board .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .board .inner table tr th:nth-of-type(3) {
    width: 29%;
  }
  .board .inner table tr td:nth-of-type(1) {
    display: none;
  }
  .board .inner .pagination .numbers {
    display: none;
  }
}
.members {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.members .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.members .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.members .inner {
  margin: 0 auto;
  padding: 100px 50px;
  width: 1200px;
  height: 100%;
  text-align: center;
  position: relative;
}
.members .inner::after {
  display: block;
  content: "";
  clear: both;
}
.members .inner h1 {
  font: normal 50px/1 "arial";
  color: black;
  margin-bottom: 50px;
}
.members .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.members .inner article {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(218, 154, 248, 0.1);
  width: 300px;
  height: auto;
  float: left;
}
.members .inner article img {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}
.members .inner article .name {
  display: block;
  font: bold 18px/1.5 "Antic Slab";
  margin-top: 5px;
}
.members .inner article .department {
  display: block;
  font: normal 17px/1.5 "Antic Slab";
  color: #777;
  margin-top: 5px;
}
.members .inner article .email {
  display: block;
  font: normal 17px/1.5 "Antic Slab";
  margin-top: 5px;
  margin-bottom: 10px;
}
.members .inner article a {
  display: block;
  width: 100px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  font: bold 17px/1 "arial";
  color: #fff;
  background-color: #d1b489;
  border-radius: 5px;
}

.youtube {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.youtube .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.youtube .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .inner {
  margin: 0 auto;
  padding: 100px 50px;
  width: 1200px;
  height: 100%;
  text-align: center;
  position: relative;
}
.youtube .inner::after {
  display: block;
  content: "";
  clear: both;
}
.youtube .inner h1 {
  font: normal 50px/1 "arial";
  color: black;
  margin-bottom: 50px;
}
.youtube .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.youtube .inner .vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.youtube .inner .vidList article {
  width: 48%;
  height: 400px;
  border: 1px solid #555;
  margin-bottom: 40px;
}
.youtube .inner .vidList article .pic {
  display: block;
  width: 100%;
  height: 60%;
}
.youtube .inner .vidList article .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .inner .vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.youtube .inner .vidList article .con h2 {
  font: bold 20px/1.2 "Antic Slab";
  color: #444;
  margin-bottom: 15px;
}
.youtube .inner .vidList article .con p {
  font: 14px/1.4 "Antic Slab";
  color: #666;
  margin-bottom: 20px;
}
.youtube .inner .vidList article .con span {
  font: bold 16px/1 "Antic Slab";
  color: orange;
}
.youtube .inner figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube .inner figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

.location {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.location .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.location .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location .inner {
  margin: 0 auto;
  padding: 100px 50px;
  width: 1200px;
  height: 100%;
  text-align: center;
  position: relative;
}
.location .inner::after {
  display: block;
  content: "";
  clear: both;
}
.location .inner h1 {
  font: normal 50px/1 "arial";
  color: black;
  margin-bottom: 50px;
}
.location .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.location .inner #map {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.location .inner::after {
  content: "";
  display: block;
  clear: both;
}
.location .inner .traffic {
  float: left;
}
.location .inner .traffic li {
  float: left;
  margin-right: 20px;
}
.location .inner .traffic li a {
  display: block;
  width: 150px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .inner .traffic li.on a {
  background: #fff;
  color: #333;
}
.location .inner .branch {
  float: right;
}
.location .inner .branch li {
  float: left;
  margin-left: 10px;
}
.location .inner .branch li a {
  display: block;
  width: 150px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .inner .branch li.on a {
  background: #fff;
  color: #333;
}

.join {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.join .sub_visual {
  width: 100%;
  height: 250px;
  opacity: 0.8;
}
.join .sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
.join .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
.join .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.join .inner h2 {
  font: bold 18px/1 "arial";
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}
.join .inner #terms {
  width: 100%;
  height: 100px;
  padding: 20px;
  resize: none;
  font: 12px/1.3 "arial";
  color: #888;
  background: #eee;
  margin-bottom: 10px;
}
.join .inner .agreement {
  text-align: center;
  margin-bottom: 70px;
}
.join .inner .agreement label[for=agree] {
  font-size: 15px;
}
.join .inner fieldset {
  padding: 30px;
}
.join .inner table {
  width: 100%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.join .inner table th {
  width: 22%;
  text-align: left;
  font: bold 14px/1 "arial";
  color: #666;
  padding: 20px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.join .inner table th:last-child {
  background: #fff;
  text-align: center;
  border-right: none;
}
.join .inner table th input[type=submit],
.join .inner table th input[type=reset] {
  width: 180px;
  height: 40px;
  border: none;
  background: #ebded6;
  font: bold 14px/1 "arial";
  color: #000;
  margin: 0 10px;
}
.join .inner table td {
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
  width: 30%;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeffff;
  padding-left: 20px;
}
.join .inner table td input[type=checkbox],
.join .inner table td input[type=radio] {
  margin-right: 5px;
}
.join .inner table td label {
  margin-right: 30px;
}
.join .inner table td textarea#comments {
  width: 80%;
  height: 100px;
  border: 1px solid #bbb;
  background: #eeffff;
  resize: none;
  padding: 20px;
}
.join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: #f71f43;
  margin-top: 10px;
  display: none;
}
.join .inner p {
  font: 12px/1 "arial";
  color: #f71f43;
  margin-top: 10px;
}

/* ----- Responsive Settings ----- */
@media screen and (max-width: 1179px) {
  .join .inner table th {
    display: none;
  }
  .join .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
    width: 50%;
  }
  .join .inner table td textarea#comments {
    width: 90%;
  }
  .join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
    display: block;
  }
}
@media screen and (max-width: 539px) {
  .join .inner table th {
    font-size: 0;
  }
  .join .inner table th input[type=submit],
.join .inner table th input[type=reset] {
    width: 40%;
    margin: 0 5%;
  }
  .join .inner table td input[type=text],
.join .inner table td input[type=password],
.join .inner table td select {
    width: 100%;
  }
  .join .inner table td label {
    display: block;
    margin-right: 0px;
  }
  .join .inner table td textarea#comments {
    width: 100%;
  }
  .join .inner table td .hobbyTxt,
.join .inner table td .genderTxt {
    display: block;
  }
}
.login {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login .inner {
  /* form Container */
  /* the header form form */
  /* Login title form form */
  /*  A welcome message or an explanation of the login form */
  /* //////////////////////////////////////////// */
  /* //////////////////////////////////////////// */
  /* Show/hide password Font Icon */
  /* inputs form  */
  /* focus  */
  /* //////////////////////////////////////////// */
  /* //////////////////////////////////////////// */
  /* input[type="text"] {min-width: 250px;} */
  /* buttons  */
  /* Submits */
  /*       Forgot Password button FAF3DD  */
  /*     Sign Up button  */
  /* buttons hover */
  /* buttons hover Animation */
}
.login .inner form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px rgba(235, 204, 189, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #f3e9d6 50%, #ebded6 50%);
}
.login .inner form .con {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
.login .inner header {
  margin: 2% auto 10% auto;
  text-align: center;
}
.login .inner header h2 {
  font-size: 250%;
  font-family: "Antic Slab";
  color: #3e403f;
}
.login .inner header p {
  letter-spacing: 0.05em;
}
.login .inner .input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}
.login .inner #eye {
  background: #fff;
  color: #333;
  margin: 5.9px 0 0 0;
  margin-left: -20px;
  padding: 15px 9px 19px 0px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  position: relative;
  right: 1%;
  top: -0.2%;
  z-index: 5;
  cursor: pointer;
}
.login .inner input[class=form-input] {
  width: 240px;
  height: 50px;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  font-family: "arial";
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
.login .inner input[id=txt-input] {
  width: 250px;
}
.login .inner input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}
.login .inner button {
  display: inline-block;
  color: #252537;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
}
.login .inner .submits {
  width: 48%;
  float: left;
  margin-left: 2%;
}
.login .inner .frpw {
  background: transparent;
}
.login .inner .signup {
  background: #b8f2e6;
}
.login .inner a:hover {
  transform: translatey(3px);
  box-shadow: none;
}
.login .inner a:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}

#header,
#header_sub {
  width: 100%;
  border-bottom: 1px double #999;
}
#header .inner,
#header_sub .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1,
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
  color: #333;
}
#header .inner > h1 > a,
#header_sub .inner > h1 > a {
  font: bold 30px/1 "Antic Slab";
  color: #333;
}
#header .inner .menuWeb #gnb,
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuWeb #gnb li,
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a,
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 15px 20px;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  transition: all 0.3s;
  letter-spacing: 1px;
}
#header .inner .menuWeb #gnb li a:after,
#header_sub .inner .menuWeb #gnb li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
#header .inner .menuWeb #gnb li a:hover:after,
#header_sub .inner .menuWeb #gnb li a:hover:after {
  width: 100%;
  background: #e4d1c5;
}
#header .inner .menuWeb #util,
#header_sub .inner .menuWeb #util {
  position: absolute;
  top: 15px;
  right: 20px;
}
#header .inner .menuWeb #util li,
#header_sub .inner .menuWeb #util li {
  float: left;
  margin-left: 20px;
}
#header .inner .menuWeb #util li a,
#header_sub .inner .menuWeb #util li a {
  font: normal 18px/1 "Antic Slab";
  color: #333;
}
#header .inner .btnCall,
#header_sub .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .btnCall::before,
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after,
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span,
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: all 0.3s;
}
#header .inner .btnCall.on::before,
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after,
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span,
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo,
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: -270px;
  display: none;
}
#header .inner .menuMo.on,
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1,
#header_sub .inner .menuMo h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a,
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "Antic Slab";
  color: #333;
  text-align: center;
}
#header .inner .menuMo h1 span,
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #999;
}
#header .inner .menuMo #gnbMo li a,
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 15px/1 "Antic Slab";
  color: #333;
  text-align: center;
  border-bottom: 1px solid #999;
}

#visual {
  width: 100%;
  position: relative;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
}
#visual .swiper {
  width: 1200px;
  height: 100%;
}
#visual .swiper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.5s ease;
}
#visual .swiper .swiper-slide::after {
  display: block;
  content: "";
  clear: both;
}
#visual .swiper .swiper-slide .inner {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
#visual .swiper .swiper-slide .inner .text {
  width: 50%;
  margin: 0 auto;
  padding: 200px 50px;
  float: left;
  text-align: center;
}
#visual .swiper .swiper-slide .inner .text h2 {
  font: normal 20px/1.5 "Antic Slab";
}
#visual .swiper .swiper-slide .inner .text h1 {
  font: bold 50px/1.5 "Caveat";
}
#visual .swiper .swiper-slide .inner .text p {
  margin-top: 10px;
  font: normal 18px/1.8 "arial";
}
#visual .swiper .swiper-slide .inner .image {
  width: 50%;
  margin: 0 auto;
  padding: 0px;
  float: left;
}
#visual .swiper .swiper-slide .inner .image img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

#features {
  width: 100%;
}
#features .wrapper {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  border-bottom: 1px solid #aaa;
}
#features .wrapper .box {
  float: left;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  border-right: 1px solid #aaa;
}
#features .wrapper .box:last-of-type {
  border-right: 0;
}
#features .wrapper .box:nth-of-type(1):hover {
  background-color: #e8e7d2;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(2):hover {
  background-color: #d2d5b8;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(3):hover {
  background-color: #bdc2bb;
  transition: all 0.5s ease;
}
#features .wrapper .box:nth-of-type(4):hover {
  background-color: #c9ba9b;
  transition: all 0.5s ease;
}
#features .wrapper .box h2 {
  font: bold 20px/1.5 "Antic Slab";
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#features .wrapper .box p {
  font: normal 15px/1.5 "arial";
  letter-spacing: 1px;
}

#products {
  width: 100%;
  position: relative;
  margin-top: 50px;
}
#products h1 {
  margin: 0 auto;
  text-align: center;
  font: bold 45px/1.5 "Caveat";
  letter-spacing: 2px;
}
#products .container {
  width: 1200px;
  margin: 0 auto;
}
#products .container .prodMenu {
  text-align: center;
  margin-top: 10px;
}
#products .container .prodMenu ul li {
  font: normal 20px/1 "Antic Slab";
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 8%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#products .container .prodMenu ul li:hover {
  background: #e9c9b5;
  color: black;
}
#products .container .prodList {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#products .container .prodList article {
  width: 22%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
#products .container .prodList article > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#products .container .prodList article > div:hover {
  transition: all 0.5s ease;
}
#products .container .prodList article > div:hover img {
  filter: blur(2px);
  transform: scale(1.1);
}
#products .container .prodList article > div:hover div h2,
#products .container .prodList article > div:hover div p,
#products .container .prodList article > div:hover div a {
  opacity: 1;
  transform: translateY(0%);
}
#products .container .prodList article > div div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  padding: 0px 20px;
}
#products .container .prodList article > div div img {
  width: 100%;
  height: 100%;
  transition: linear 0.3s;
}
#products .container .prodList article > div div h2 {
  font: bold 25px/1 "arial";
  color: #fff;
  letter-spacing: 1px;
  margin: 15px 0px;
  opacity: 0;
  transition: 0.5s;
  transform: -100%;
}
#products .container .prodList article > div div p {
  font: 14px/1.2 "arial";
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  transform: 100%;
}
#products .container .prodList article > div div a {
  display: block;
  width: 150px;
  height: auto;
  padding: 5px;
  margin: 10px;
  font: bold 15px/1.2 "arial";
  color: #fff;
  background-color: black;
  opacity: 0;
  transition: 0.5s;
  transform: 100%;
}

#celebrity {
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: relative;
  background-color: #e8e7d2;
}
#celebrity .inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
#celebrity .inner::after {
  display: block;
  content: "";
  clear: both;
}
#celebrity .inner article {
  width: 350px;
  height: 100%;
  margin: 15px;
  padding: 10px;
  float: left;
  text-align: center;
  border-right: 1px solid #aaa;
}
#celebrity .inner article:last-of-type {
  border-right: none;
}
#celebrity .inner article .text {
  width: 100%;
  margin: 0 auto;
}
#celebrity .inner article .text h2 {
  font: normal 30px/1.2 "Courgette";
  text-align: center;
  margin-bottom: 15px;
}
#celebrity .inner article .text p {
  font: normal 15px/1.5 "arial";
  margin-bottom: 15px;
}
#celebrity .inner article .image {
  margin: 0 auto;
  position: relative;
}
#celebrity .inner article .image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#celebrity .inner article .image:hover {
  transition: all 0.5s ease;
}
#celebrity .inner article .image:hover img {
  filter: blur(2px);
}
#celebrity .inner article .image:hover div a {
  opacity: 1;
}
#celebrity .inner article .image div a {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  height: auto;
  font: bold 20px/1 "Antic Slab";
  color: #000;
  background-image: linear-gradient(to left, #e8e7d2, #e5d5ca);
  position: absolute;
  top: 40%;
  left: 20%;
  opacity: 0;
}

#banner {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
#banner .wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/main/bg.png);
  background-color: #ddd7d4;
  background-blend-mode: multiply;
}
#banner .wrapper .left {
  width: 300px;
  float: right;
  margin: 0 auto;
}
#banner .wrapper .left img {
  width: 100%;
}
#banner .wrapper .center {
  width: 600px;
  margin: 0 auto;
  padding: 80px;
  float: right;
}
#banner .wrapper .center p {
  font: normal 20px/1.5 "Antic Slab";
  color: black;
  margin-bottom: 10px;
}
#banner .wrapper .center h3 {
  font: bold 35px/1.5 "Antic Slab";
  color: black;
  margin-bottom: 10px;
}
#banner .wrapper .center a {
  display: block;
  width: 200px;
  height: auto;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font: bold 18px/1 "Antic Slab";
  color: #fff;
  border: 1px solid #999;
  background-color: #111;
}
#banner .wrapper .center:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}
#banner .wrapper .right {
  width: 300px;
  float: right;
  margin: 0 auto;
}
#banner .wrapper .right img {
  width: 100%;
}

#footer,
#footer_sub {
  width: 100%;
  border-top: 1px double #999;
  padding: 100px 0;
  background-image: linear-gradient(90deg, #e5d8d0, #e4d1c5);
}
#footer .inner,
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after,
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1,
#footer_sub .inner h1 {
  font: bold 25px/1 "Antic Slab";
  letter-spacing: 1px;
  color: black;
  margin-bottom: 15px;
  float: left;
}
#footer .inner ul,
#footer_sub .inner ul {
  float: right;
}
#footer .inner ul li,
#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a,
#footer_sub .inner ul li a {
  font: bold 15px/1.5 "Antic Slab";
  letter-spacing: 1px;
  color: black;
}
#footer .inner address,
#footer_sub .inner address {
  float: left;
  width: 100%;
  font: 15px/1.5 "Antic Slab";
  color: black;
  letter-spacing: 1px;
  border-top: 2px solid #fff;
  margin-bottom: 15px;
}
#footer .inner p,
#footer_sub .inner p {
  font: 15px/1 "Antic Slab";
  letter-spacing: 1px;
  color: black;
  width: 100%;
  float: left;
}
#footer .inner #sns,
#footer_sub .inner #sns {
  margin-right: 10px;
  float: right;
  text-align: center;
}

/* ----- Responsive Settings ----- */
@media screen and (max-width: 1179px) {
  #header .inner,
#header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner > h1,
#header_sub .inner > h1 {
    left: 20px;
  }
  #header .inner .menuWeb,
#header_sub .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall,
#header_sub .inner .btnCall {
    display: block;
  }
  #header .inner .menuMo,
#header_sub .inner .menuMo {
    display: block;
  }

  #footer,
#footer_sub {
    padding: 80px 30px;
  }
  #footer .inner,
#footer_sub .inner {
    width: 100%;
  }
}
/* Responsive Mobile Verision*/
@media screen and (max-width: 539px) {
  #footer .inner ul,
#footer_sub .inner ul {
    width: 100%;
  }
  #footer .inner ul li,
#footer_sub .inner ul li {
    margin-left: 0;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
