.login {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 30px;
	background-image: linear-gradient(-230deg, #f3e9d6 50%, #ebded6 50%);

	.inner {
		width: 100%;
		form {
			width: 400px;
			height: auto;
			box-sizing: border-box;
			border: 1px double #111;
			border-radius: 5px;
			margin: 5% auto;
			box-shadow: 0 9px 50px hsla(20, 53%, 83%, 0.31);
			position: relative;

			.con {
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: space-around;
				justify-content: space-around;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				width: 100%;
				height: 100%;
				margin: 0 auto;
				position: relative;

				header {
					padding-top: 30px;
					margin: 7% auto 10% auto;
					text-align: center;

					h2 {
						font: bold 250% "Julius Sans One";
						color: #3e403f;
					}
					p {
						margin-top: 10px;
						font: normal 16px/1.5 "Julius Sans One";
					}
				}
				
				.origin {
					width: 100%;
					margin: 0 auto;

					input[class="form-input"] {
						width: 240px;
						height: 50px;
						margin: 2% auto;
						padding: 10px;
						font: normal 15px/1 "Julius Sans One";
						color: #585c64;
						outline: none;
						border: 1px solid #111;
						border-radius: 5px;
					}

					.emailbox, .pwdbox {
						margin-left: 15%;
					}
				}
				
				.log-in {
					width: 50%;
					height: 50px;
					margin: 15% 25%;
					padding: 5px;
					text-align: center;
					font: bold 20px/1 "Antic Slab";
					background-color: #ccc;

					&:hover {
						background-color: #000;
						color: #fff;
						transition: all 0.5s;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.login {
		.inner {
			form {
				width: 80%;
				.con {
					.origin {
						input[class="form-input"] {
							width: 70%;
						}
					}
				}
			}
		}
	}
}