.members {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;

	.sub_visual {
		width: 100%;
		height: 250px;
		opacity: 0.8;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.intro {
		padding: 50px 0px 0px 0px;
		width: 1180px;
		height: 100%;
		margin: 0 auto;

		&::after {
			display: block;
			content: "";
			clear: both;
		}

		#title {
			width: 100%;
			height: 50px;
			text-align: left;
			padding-left: 50px;
			padding-top: 50px;
			position: relative;

			.bar {
				width: 5px;
				height: 200px;
				background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
				position: absolute;
				top: 2.5%;
				left: 2%;
			}
			h1 {
				font: bold 40px/1 "Julius Sans One";
				color: black;
			}
		}

		.about {
			width: 1180px;
			height: 100%;
			padding: 10px;
			margin: 0 auto;

			.wrapper {
				width: 93%;
				height: 100%;
				padding-left: 4%;
				padding-top: 5%;
				text-align: center;
				position: relative;

				video {
					width: 100%;
					height: 100%;
					padding: 60px 10px;
					position: absolute;
					top: 5%;
					left: 4%;
					object-fit: cover;
					opacity: 0.4;
					z-index: -99;
				}

				span {
					display: block;
					font: bold 33px/1.7 "Bad Script";
					color: #000;
					letter-spacing: 3px;
					margin-top: 30px;
					padding: 10px;

					&::after {
						display: block;
						content: "";
						width: 50%;
						height: 3px;
						background-color: #aaa;
						margin: 0 auto;
					}
				}
				p {
					font: normal 18px/1.7 "arial";
					color: #000;
					margin: 20px 0px;
					padding: 30px;
				}
			}
		}
	}

	.people {
		width: 100%;
		position: relative;

		#title {
			width: 100%;
			height: 50px;
			text-align: left;
			padding-left: 50px;
			padding-top: 50px;
			position: relative;

			.bar {
				width: 5px;
				height: 200px;
				background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
				position: absolute;
				top: 2.5%;
				left: 2%;
			}
			h1 {
				font: bold 40px/1 "Julius Sans One";
				color: black;
			}
		}

		.memberInfo {
			width: 100%;
			height: 100%;
			margin: 50px auto;
			padding: 50px;

			.profile-wrapper {
				width: calc(92% / 4);
				border-radius: 50%;
				margin: 1%;
				float: left;
				position: relative;
				text-align: center;
				z-index: 99;
				transition: all 1s ease-in-out;
				transform-style: preserve-3d;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

				&:hover {
					transform: rotateY(180deg);

					.profile-back {
						display: block;
					}
				}
				.profile-front {
					width: 100%;
					height: 220px;
					border-radius: 50%;
					background-image: linear-gradient(90deg, #f1e6e0, #e4d1c5);
					box-shadow: 5px 10px 10px rgba(221, 168, 115, 0.1);
					img {
						width: 100%;
						height: 220px;
						border-radius: 50%;
						object-fit: contain;
					}
				}

				.profile-back {
					margin: 0 auto;
					padding-top: 20px;
					width: 100%;
					height: 220px;
					border-radius: 50%;
					color: #111;
					background-image: linear-gradient(90deg, #f1e6e0, #e4d1c5);
					position: absolute;
					top: 0;
					left: 0;
					display: none;
					transform: rotateY(180deg);

					h2 {
						margin-top: 30px;
						font: bold 28px/2 "Antic Slab";
					}

					h3 {
						font: normal 18px/2 "arial";
					}

					span {
						font: normal 18px/1.5 "arial";
						color: #111;
					}
				}

				&:nth-of-type(6) {
					margin-bottom: 100px;
				}
			}
		}
	}
}
/* Responsive Tablet Verision*/
@media screen and (max-width: $tablet) {
	.members {
		.intro {
			width: 100%;
			.about {
				.wrapper {
					width: 88vw;
				}
			}
			.people {
				width: 100%;
				.memberInfo {
					width: 100%;
					.profile-wrapper {
						width: calc(93% / 3);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.members {
		.intro {
			.people {
				width: 100%;
				.memberInfo {
					width: 100%;
					.profile-wrapper {
						width: calc(96% / 2);
					}
				}
			}
		}
	}
}
