
.members {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;

	.sub_visual {
		width: 100%;
		height: 250px;
		opacity: 0.8;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.intro {
		padding: 50px 0px 0px 0px;
		width: 1200px;
		height: 100%;
		margin: 0 auto;

		&::after {
			display: block;
			content: "";
			clear: both;
		}

		#title {
			width: 100%;
			height: 50px;
			text-align: left;
			padding-left: 50px;
			padding-top: 50px;
			position: relative;

			.bar {
				width: 5px;
				height: 200px;
				background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
				position: absolute;
				top: 2.5%;
				left: 2%;
			}
				h1 {
					font: bold 35px/1 "arial";
					color: black;
				}
			
		}

		.about {
			width: 1200px;
			height: 700px;
			margin: 0 auto;
			padding: 10px;
			position: relative;

			.image {
				width: 400px;
				height: 500px;
				position: absolute;
				top: 100px;
				left: 50px;

				&::after {
					display: block;
					content:"";
					clear:both;
					position: absolute;
					box-shadow: 5px 5px 5px rgba(0,0,0,.1);
					top: 80px;
					left: 40px;
					width: 400px;
					height: 450px;
					background-image: linear-gradient(to top, #dbcbbe, #e2dddb);
					z-index: -999;
				}

				img {
					width: 100%;
					object-fit: contain;
					-webkit-filter: grayscale(100%);
					filter: gray;

					&:hover {
						-webkit-filter: grayscale(0%);
						filter: none;
					}
				}
			}

			.content {
				width: 600px;
				height: 400px;
				margin: 0 auto;
				padding: 50px;
				float: right;

				span {
					font: bold 40px/1.7 "Caveat";
					margin-bottom: 30px;

					&::after {
						display: block;
						content:"";
						width: 500px;
						height: 3px;
						background-color: #ddd;
						margin-bottom: 20px;
					}
				}
				p {
					font: normal 18px/1.7 "arial";
					margin-bottom: 50px;
				}
				img {
					display: block;
					width: 250px;
					height: 180px;
					margin: 0 auto;
					object-fit: contain;
					float: right;
				}
			}
		}
	}

	.people {
		width: 100%;
		position: relative;

		#title {
			width: 100%;
			height: 50px;
			text-align: left;
			padding-left: 50px;
			padding-top: 50px;
			position: relative;

			.bar {
				width: 5px;
				height: 200px;
				background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
				position: absolute;
				top: 2.5%;
				left: 2%;
			}
				h1 {
					font: bold 35px/1 "arial";
					color: black;
				}
		}

		.memberInfo {
			z-index: -999;
			width: 100%;
			height: 100%;
			margin: 50px 0px;
			padding: 50px;

			&::after {
				display: block;
				content: "";
				clear: both;
			}

			.profile-wrapper {
				width: 33%;
				height: auto;
				margin: 0.1rem;
				padding: 15px;
				float: left;
				position: relative;
				text-align: center;
				z-index: 99;
				transition: all 1s ease-in-out;
				transform-style:preserve-3d;
				
				&:hover {
					transform: rotateY(180deg);

					.profile-back {
						display: block;
					}
				}
				.profile-front {
					img {
						width: 320px;
						height: 320px;
						border-radius: 50%;
						object-fit: cover;
						background-image: 	linear-gradient(90deg, #f1e6e0, #e4d1c5);
						box-shadow: 5px 10px 10px rgba(221, 168, 115, 0.1);
					}
				}

				.profile-back {
					margin: 0 auto;
					padding: 100px;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					font: bold 20px/1 "Antic Slab";
					color: #111;
					background-image: 	linear-gradient(90deg, #f1e6e0, #e4d1c5);
					position: absolute;
					top:0;
					left:0;
					display: none;
					transform: rotateY(180deg);

					h2 {
						margin-top: 20px;
						font: bold 30px/2 "arial";
					}

					h3 {
						font: bold 20px/2 "arial";
					}

					span {
						font: normal 18px/1.5 "arial";
						color: #111;
					}
				}
			}
		}
	}
}
/* Responsive Tablet Verision*/
@media screen and (max-width: $tablet) {

	.members {
		width: 100%;

		.sub_visual {
			width: 100%;
		}

		.intro {
			width: 100%;
		}

		.people {
			width: 100%;
		}
	}
}