* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.hidden {
	position: absolute;
	top: -9999px;
	opacity: 0;
}

// .wrapper::after {
// 	content: "";
// 	display: block;
// 	clear: both;
// }
