.youtube {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	.sub-visual {
		width: 100%;
		height: 250px;
		opacity: 0.8;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.inner {
		padding: 50px 0px 0px 0px;
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;

		&::after {
			display: block;
			content: "";
			clear: both;
		}

		#title {
			width: 100%;
			height: 50px;
			text-align: left;
			padding-left: 50px;
			padding-top: 50px;
			position: relative;

			.bar {
				width: 5px;
				height: 200px;
				background-image: linear-gradient(90deg, #e5d8d0, #e7b99c);
				position: absolute;
				top: 2.5%;
				left: 2%;
			}
			h1 {
				font: bold 40px/1 "Julius Sans One";
				color: black;
			}
		}

		.vidList {
			width: 100%;
			margin-top: 200px;
			position: relative;
			padding-top: 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;

			article {
				width: 48%;
				height: 100%;
				border: 1px solid rgb(146, 124, 98);
				border-radius: 2rem;
				margin-bottom: 50px;

				.pic {
					position: relative;
					display: block;
					width: 100%;
					height: 60%;
					> img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 2rem 2rem 0rem 0rem;
					}
					> i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: 80px;
						color: #923131;
						opacity: 0.8;
						z-index: 5;
					}
				}
				.con {
					width: 100%;
					height: 40%;
					padding: 20px;
					text-align: center;

					h2 {
						font: bold 20px/1.2 "Antic Slab";
						color: #444;
						margin-bottom: 15px;
					}
					p {
						font: 15px/1.5 "arial";
						color: #666;
						margin-bottom: 20px;
					}
					span {
						font: bold 15px/1 "arial";
						color: rgb(145, 112, 53);
					}
				}
			}

			&:last-of-type {
				margin-bottom: 50px;
			}
		}

		figure.pop {
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			padding: 5vw;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 99;

			.btnClose {
				position: absolute;
				top: 50px;
				right: 50px;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

/* Responsive Tablet Verision*/
@media screen and (max-width: $tablet) {
	.youtube {
		width: 100%;
		.inner {
			width: 100%;
			.vidList {
				width: 100%;
				article {
					width: 80%;
					height: 400px;
					margin: 20px auto;
				}
			}
		}
	}
}

/* Responsive Mobile Verision*/
@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			.vidList {
				article {
					height: 300px;
					margin: 10px auto;

					p {
						display: none;
					}
				}
			}
		}
	}
}
